.ant-menu {
    .ant-menu-item {
        display: flex !important;
        justify-items: center !important;
        align-items: center !important;
    }
    .ant-menu-submenu-title {
        display: flex !important;
        justify-items: center !important;
        align-items: center !important;
    }
}
